body {
  padding: 50px;
}

.content-format {
  padding: 40px 15px;
}

.url-form {
  margin-left: 20px;
}

.masonry {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.panel {
  padding: 10px;
}